.posts {
    margin-top: 20px;
    
  }
  
  .post {
    border: 1px solid #e1e8ed;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #f7f9fa;
  }
  
  .post p {
    font-size: 16px;
    line-height: 1.5;
    color: #1c1e21;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination button {
    
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    margin-right: 5px;
    cursor: pointer;
  }
  

  /* Posts.css */
.posts {
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.post {
  margin-bottom: 20px;
}

.post-image {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.post-title {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.post-person-name {
  font-size: 14px;
  color: #666;
  margin-bottom: 5px;
}

.post-content {
  font-size: 16px;
  margin-bottom: 10px;
}

.post-interactions {
  display: flex;
  align-items: center;
}

.post-interactions button {
  border: none;
  background-color: transparent;
  font-size: 14px;
  color: #666;
  margin-right: 10px;
  cursor: pointer;
}

.post-interactions button:last-child {
  margin-right: 0;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  border: none;
 
  color: #fff;
  font-size: 16px;
  padding: 8px 12px;
  border-radius: 4px;
  margin-right: 5px;
  cursor: pointer;
}

.pagination button:last-child {
  margin-right: 0;
}

.pagination button.active {
  background-color: #000;
}
