.toggle-button {
  background-color: #1da1f2;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 8px 50px;
  cursor: pointer;
  font-size: 14px;
  position: unset;
  margin-right: 150px;
 
}

.toggle-button.dark {
  background-color: #000000;
}

.toggle-button.dark:hover {
  background-color: #1c1c1c;
}

.toggle-button.light {
  background-color: #ffffff;
  color: #1da1f2;
}

.toggle-button.light:hover {
  background-color: #f2f2f2;
}
